{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}

    <h2>Bienvenido {{ user_name }}</h2>

    <h3>Psiquicos en linea: <span id="online-count">0</span></h3>
    
    <h2>Consulta Tarot</h2>

    <button id="draw-cards-btn" onclick="drawsCards()">Tirar cartas</button>    

    <div id="countdown"></div>

    <div id="cards-container"></div>

    <textarea name="" id="question" placeholder="Escribe tu pregunta.." disabled></textarea>
    <button id="send-question-btn" onclick="sendQuestion()" disabled>Enviar Pregunta</button>

    <div id="chat-box" class="chat-box"></div>

       
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>


    <script>
        const socket = io();
        let selectedCards =[];
        let currentQuestionId = null;
        let psychic_name = "";

    
    function addMessage(user, message, isMine){

        const chatbox = document.getElementById("chat-box");
        const  msgDiv = document.createElement("div");
        msgDiv.classList.add("message");

        if(isMine){
            msgDiv.classList.add("my-message");
        }else{
            msgDiv.classList.add("other-message");
        }

        msgDiv.innerHTML = `
        <span class="sender">${user}</span>
        <span>${message}</span>
        `
        
        chatbox.appendChild(msgDiv);
        chatbox.scrollTop = chatbox.scrollHeight;

    }
    

    function drawsCards(){
        
        fetch("/cliente/get_cards")
        .then(response => response.json())
        .then(data =>{
            
            const container = document.getElementById("cards-container")

            container.innerHTML = ""

            selectedCards = data

            data.forEach((card, index) => {

                const carDiv = document.createElement("div")

                carDiv.innerHTML = `
                <img src="/static/cards/${card.image}" width="100">
                <p>${card.name}</p>`;

                carDiv.style.animationDelay = (index * 0.4) + "s";
                
                container.appendChild(carDiv);                
            })            
           
            //ocultar el botón
            document.getElementById("draw-cards-btn").style.display = "none";
            document.getElementById("question").disabled = false;
                        
            const textarea = document.getElementById("question");
            const sendBtn = document.getElementById("send-question-btn");

            //activar o desactivar textArea si esta vacio
            textarea.addEventListener("input", function(){

                if(textarea.value.trim() !== ""){
                    sendBtn.disabled = false
                }else{
                    sendBtn.disabled = true
                }

            })
             
        })
    }

        socket.on('update_psychic', function(data) {
            document.getElementById("online-count").innerText = data.count;
        })

        //Cuando el psiquico acepta se detiene el contador
        socket.on('reading_accepted', function(){
            clearInterval(timer),
            document.getElementById("countdown").innerText ="Consulta iniciada";
        })

        socket.on("open_chat", function(data){

            currentQuestionId = data.question_id;

            const chatbox = document.getElementById("chat-box");

            chatbox.innerHTML = `
                <div class="message my-message">
                    <span class="sender">Yo</span>
                    <span>${data.first_question}</span>
                </div>
            `;

        });

        //Si ocurre TimeOut
        socket.on('question_timeout', function(data){
            clearInterval(timer),
            document.getElementById("countdown").innerText = data.message;
        })

        socket.on("receive_answer", function(data){
            addMessage(data.psychic_name,data.answer,false);
        });

        //Enviar preguntas
        function sendQuestion(){
            
            const textarea = document.getElementById('question');
            const question = textarea.value.trim()
            const sendButton = document.getElementById('send-question-btn');

            if(question === ""){
                alert("Debes escribir una pregunta");
                return;
            }
            
            if (currentQuestionId){
                socket.emit("send_chat_message",{
                    question_id:currentQuestionId,
                    message:question
                });

                addMessage("Yo",question,true, currentQuestionId)
            } else{                
                socket.emit('send_question', {
                question: question,
                cards: selectedCards
                });

            addMessage("Yo", question, true);
            }

            textarea.value = "";
            sendButton.disabled = true;
        }
        

        socket.on('new_question', function(data){

            console.log("Pregunta recibida:",data)

            document.getElementById("chat-box").innerHTML =
            "<h3>Pregunta enviada:</h3><p>" + data.question + "</p>";
        })

        //chat privado
        function sendMessage(){

            const textarea = document.getElementById("question")
            const question = textarea.value
            const chatbox = document.getElementById("chat-box")

            const message = document.createElement("p")
            message.innerHTML = "<b>Yo: </b>" + question

            chatbox.appendChild(message)
            
            socket.emit("send_chat_message", {
                question_id : currentQuestionId,
                message : question
            })

            textarea.value = ""

        }

        

        socket.on("question_taken", function(data){

            currentQuestionId = data.question_id;

            console.log("Cliente entra al room", currentQuestionId)

            socket.emit("join_question_room", {
                question_id: currentQuestionId
            })
        })


    </script>
{% endblock %}