{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}

    <h2>Bienvenido {{ user_name }}</h2>

    <h3>Psiquicos en linea: <span id="online-count">0</span></h3>
    
    <h2>Consulta Tarot</h2>

    <button id="draw-cards-btn" onclick="drawsCards()">Tirar cartas</button>    

    <div id="countdown"></div>

    <div id="cards-container"></div>

    <textarea name="" id="question" placeholder="Escribe tu pregunta.." disabled></textarea>
    <button onclick="sendQuestion()">Enviar Pregunta</button>

    <div id="response"></div>

       
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>


    <script>
        const socket = io();
        let selectedCards =[];
        let currenQuestionid = null;
    

    function drawsCards(){
        
        fetch("/cliente/get_cards")
        .then(response => response.json())
        .then(data =>{
            
            const container = document.getElementById("cards-container")

            container.innerHTML = ""

            selectedCards = data

            data.forEach(card => {

                const carDiv = document.createElement("div")

                carDiv.innerHTML = `
                <img src="/static/cards/${card.image}" width="100">
                <p>${card.name}</p>`;
                
                container.appendChild(carDiv);                
            })

            
            //habilita el la caja de texto para formular la pregunta
            document.getElementById("question").disabled = false

            //ocultar el botón
            document.getElementById("draw-cards-btn").style.display = "none"
        })
    }

        socket.on('update_psychic', function(data) {
            document.getElementById("online-count").innerText = data.count;
        })

        //Cuando el psiquico acepta se detiene el contador
        socket.on('reading_accepted', function(){
            clearInterval(timer),
            document.getElementById("countdown").innerText ="Consulta iniciada";
        })

        //Si ocurre TimeOut
        socket.on('question_timeout', function(data){
            clearInterval(timer),
            document.getElementById("countdown").innerText = data.message;
        })

        //Enviar preguntas
        function sendQuestion(){
            
            const question = document.getElementById('question').value;

            socket.emit('send_question', {
                question: question,
                cards: selectedCards                                
            });

            document.getElementById('question').value = "";
        }

        //Escuchar respuestas privadas
        socket.on('receive_answer', function(data){
            document.getElementById("response").innerHTML =
            "<h3>Repuesta: <h3><p>"+ data.answer+"</p>";
        });

        socket.on('new_question', function(data){

            console.log("Pregunta recibida:",data)

            document.getElementById("response").innerHTML =
            "<h3>Pregunta enviada:</h3><p>" + data.question + "</p>";
        })

        //chat privado
        function sendMessage(){

            const input = document.getElementById("chat-input")
            const message = input.value
            
            socket.emit("send_chat_message", {
                question_id : currenQuestionid,
                message : message
            })

            input.value = ""

        }

        socket.on("receive_chat_message", function(data){

            const chatbox = document.getElementById("chat-box")

            const message = document.createElement("p")

            message.innerHTML = "<b>" + data.user + ":</b>" + data.message

            chatbox.appendChild(message)

            chatbox.scrollTop = chatbox.scrollHeight            

        })

        socket.on("question_taken", function(data){

            currentQuestion = data.question_id

            socket.emit("join_question_room", {
                question_id: currentQuestion
            })
        })


    </script>
{% endblock %}