{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <h2>Panel del Psiquico</h2>

    <h2>Bienvenido {{ user_name }}</h2>

    <div id="questions-container">
        <h3>Preguntas en vivo:</h3>
    </div> 
    <div id="chat-box" class="chat-box"></div>   
    
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>

    <script>
        const socket = io();

        socket.on("connect", function() {
            console.log("Conectado al servidor");

            socket.emit("psychic_online");  
        });

        socket.on("disconnect", function(){
            console.log("Desconectado del servidor")
        })
        //Funcion para agregar mensajes tipo whatsapp(burbuja)
        function addMessage(user, message, isMine, question_id){

        const chatbox = document.getElementById("chat-box-"+question_id);
        if(!chatbox) return;

        const  msgDiv = document.createElement("div");
        msgDiv.classList.add("message");

        if(isMine){
            msgDiv.classList.add("my-message");
        }else{
            msgDiv.classList.add("other-message");
        }

        msgDiv.innerHTML = `
        <span class="sender">${user}</span>
        <span>${message}</span>
        `
        
        chatbox.appendChild(msgDiv);
        chatbox.scrollTop = chatbox.scrollHeight;

    }
    

        function takeQuestion(id){
            console.log("ID enviado: ",id)
            socket.emit("take_question",{
                question_id:id
            })
        }

        //abrir chat privado
        socket.on("open_chat", function(data){

            console.log("Evento open_question recibido", data);

            const container = document.getElementById("questions-container");

            const answerBlock = document.createElement("div");

            answerBlock.innerHTML = ` 
            <h3>Responder Consulta</h3>

            <div id="chat-box-${data.question_id}" class="chat-box"></div>

            <br>
            
            <textarea id = "answer_${data.question_id}"
            rows="4" cols="50"
            placeholder = "Escribe tu interpretación..."></textarea>

            <br><br>

            <button onclick = "sendAnswer(${data.question_id})">
            Enviar respuesta
            </button>
            `;

            container.prepend(answerBlock);
        });

        socket.on('new_question', function(data){
            
            let cardsHtml = ""

            console.log("NEW QUESTION LLEGO", data);

            const container = document.getElementById("questions-container");

            data.cards.forEach(card=>{
                cardsHtml += `<img src="/static/cards/${card.image}" width="80">`;
            }); 
            
            const questionBlock = document.createElement("div");
            questionBlock.id = "question-" + data.question_id;

            questionBlock.style.border = "1px solid #ccc";
            questionBlock.style.padding = "10px";
            questionBlock.style.marginBottom = "10px";

            questionBlock.innerHTML = `
            <p><strong>Pregunta:</strong> ${data.question}</p>
            <p>${cardsHtml}</p>
            <button onclick="takeQuestion(${data.question_id})">
                Tomar consulta
            </button>
            `;

        container.prepend(questionBlock);
        });

        
        socket.on("question_taken", function(data){

            let block = document.getElementById("question-"+ data.question_id)

            if(block){
                block.innerHTML = "Consulta tomada por otro psiquico"
            }
        })

        socket.on("already_take", function(data){
            alert("Esta consulta ya fue tomada por otro psiquico")
        })

        socket.on("receive_chat_message", function(data){
            console.log("mensaje recibido");
            addMessage(data.user,data.message,false,data.question_id);
        })

       
        //Funcion para enviar respuesta del psiquico que tomó la pregunta
        function sendAnswer(question_id){

            const textarea = document.getElementById("answer_"+question_id)
            const answerText = textarea.value;

            if(answerText.trim()===""){
                alert("Debes escribir una respuesta");
                return;
            }

            socket.emit('send_answer',{
                question_id: question_id,
                answer: answerText
            })

            addMessage("Yo (psiquico)",answerText,true, question_id);
            textarea.value = "";                   
        }    
    </script>
{% endblock %}