{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <h2>Panel del Psiquico</h2>

    <h2>Bienvenido {{ user_name }}</h2>

    <div id="questions-container">
        <h3>Preguntas en vivo:</h3>
    </div>    
    
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>

    <script>
        const socket = io();

        socket.on("connect", function() {
            console.log("Conectado al servidor");

            socket.emit("psychic_online");  
        });

        socket.on("disconnect", function(){
            console.log("Desconectado del servidor")
        })

        function takeQuestion(id){
            console.log("ID enviado: ",id)
            socket.emit("take_question",{
                question_id:id
            })
        }

        socket.on("open_chat", function(data){

            console.log("Evento open_question recibido", data);

            const container = document.getElementById("questions-container");

            const answerBlock = document.createElement("div");

            answerBlock.innerHTML = ` 
            <h3>Responder Consulta</h3>
            
            <textarea id = "answer_${data.question_id}"
            rows="4" cols="50"
            placeholder = "Escribe tu interpretación..."></textarea>

            <br><br>

            <button onclick = "sendAnswer(${data.question_id})">
            Enviar respuesta
            </button>
            `;

            container.prepend(answerBlock);
        });

        socket.on('new_question', function(data){
            
            const container = document.getElementById("questions-container")

            let cardsHtml = ""

            data.cards.forEach(card=>{
                cardsHtml += `<img src="/static/cards/${card.image}" width="80">`;
            });       
            
            const questionBlock = document.createElement("div");
            questionBlock.id = "question-" + data.question_id;

            questionBlock.style.border = "1px solid #ccc";
            questionBlock.style.padding = "10px";
            questionBlock.style.marginBottom = "10px";

            questionBlock.innerHTML = `
            <p><strong>Pregunta:</strong> ${data.question}</p>
            <p> ${cardsHtml}</p>
            <button onclick="takeQuestion(${data.question_id})">Tomar consulta</button>
            </div>
            <br><br>            
            `;
            container.prepend(questionBlock);
        });

        socket.on("question_taken", function(data){

            let block = document.getElementById("question-"+ data.question_id)

            if(block){
                block.innerHTML = "Consulta tomada por otro psiquico"
            }
        })

        socket.on("already_take", function(data){
            alert("Esta consulta ya fue tomada por otro psiquico")
        })

        function sendAnswer(question_id){

            const answerText = document.getElementById("answer_"+question_id).value;

            if(answerText.trim()===""){
                alert("Debes escribir una respuesta")
            }

            socket.emit('send_answer',{
                question_id: question_id,
                answer: answerText
            })

            alert("Repuesta enviada");
        }    
    </script>
{% endblock %}